* { margin: 0px; padding: 0px; }
*:focus { outline: none; }

html, body { width: 100%; height: 100%; }

html {
	font-size: 12px;
	font-family: Roboto, Arial, sans-serif;
	background-color: #000;
}

#author {
	color: #666;

	height: 0px;
	width: 0px;

	
	display: block;
	display: none;
	white-space: nowrap;
}

#author a { color: #669;}

canvas {
	display: block;
	border-radius: 5px;
}

table {
	width: 100%;
	height: 100%;
	border-spacing: 10px;
	table-layout: fixed;
}

table td {
	position: relative;
}

td {
	width: 50%;
	height: 50%;
	vertical-align: top;
}

.code-view {
	width: 100%;
	height: 100%;
}

.code-view.error {
	box-shadow: 0px 0px 0px 2px #F00;
}

.icon {
	background-image: url("../img/icons.svg");
	background-repeat: no-repeat;
	background-size: 140px 20px;

	width: 20px;
	height: 20px;
	display: inline-block;
}

.diagram-controls {
	position: absolute;
	bottom: 5px; left: 10px;
}

	.diagram-controls span {
		float: left;
		margin-right: 10px;
		cursor: pointer;

		background-size: 224px 32px;

		width: 32px;
		height: 32px;
	}

	span[data-type=wave] { background-position: -128px 0px; }
	span[data-type=spectrum] { background-position: -160px 0px; }
	span[data-type=spectrogram] { background-position: -192px 0px; }

.controls {
	height: 10%;
	padding: 10px;
	box-sizing: border-box;
	background-color: #222;
	border-radius: 0px 0px 5px 5px;
}

	.controls .icon {
		float: left;
		cursor: pointer;
		margin-top: 4px;
		margin-right: 5px;
	}

	.play-pause { background-position: -20px 0px; }
	.reset { background-position: -40px 0px; }

	.mic {
		background-position: -60px 0px;
		float: right !important;
		margin-right: 10px !important;
	}

	.icon.disabled { opacity: 0.5; }

	.run {
		color: #CCC;
		text-shadow: 0px -1px #000;
		
		padding: 5px 10px;
		border: 2px solid #000;
		border-radius: 3px;

		background-color: #666;
		box-sizing: border-box;
		display: inline-block;
		cursor: pointer;
		float: right;
	}

	.run:hover {
		color: #DDD;
		background-color: #777;
	}

	.time, .fps {
		color: #999;
		font-weight: bold;
		margin-top: 8px;
		margin-left: 8px;
		display: inline-block;
	}

	.fps { float: right; margin-right: 15px; }

#shader-editor, #dsp-editor {
	color: #FFF;
	font-size: 12px;
	line-height: 16px;
	font-family: "Lucida Console", monospace;
	background-color: #333;

	height: 90%;
	width: 100%;

	border: 0px;
	padding: 20px;

	display: block;
	overflow-x: auto;
	white-space: pre;
	box-sizing: border-box;
	resize: none;
}

#shader-editor.disabled, #dsp-editor.disabled {
	-webkit-filter: saturate(0) contrast(0.8);
	filter: saturate(0) contrast(0.8);
}

.ace_scrollbar-v::-webkit-scrollbar {
	width: 12px;
	background: #333;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb {
	width: 6px;
	background: #666;
}

.editor {
	padding-top: 10px;
	border-radius: 5px 5px 0px 0px;
}