* { margin: 0px; padding: 0px; }
*:focus { outline: none; }

html, body { width: 100%; height: 100%; }

html {
	font-size: 12px;
	font-family: Roboto, Arial, sans-serif;
	background-color: #000;
}

body { overflow: hidden; }

canvas {
	display: block;
	border-radius: 5px;
	position: absolute;
	top: 0px; left: 0px;
}

table {
	width: 100%; height: 100%;
	border-spacing: 10px;
	table-layout: fixed;
}

	td {
		position: relative;
		width: 50%;
		height: 50%;
		vertical-align: top;
	}

.examples {
	color: #999;
	height: 100%;

	padding: 2px;
	margin-right: 10px;
	border: 2px solid #000;
	border-radius: 3px;

	float: right;
	background-color: #444;
}

.editor {
	color: #FFF;
	font-size: 12px;
	line-height: 16px;
	font-family: "Lucida Console", monospace;
	background-color: #333;

	height: 90%;
	width: 100%;

	border: 0px;
	border-radius: 5px 5px 0px 0px;

	display: block;
	overflow-x: auto;
	white-space: pre;
	box-sizing: border-box;
	resize: none;
}

.code-view { width: 100%; height: 100%; }
.code-view.error { box-shadow: 0px 0px 0px 2px #F00; }

.icon {
	background-image: url("../img/icons.svg");
	background-repeat: no-repeat;
	background-size: 160px 20px;

	width: 20px;
	height: 20px;
	display: inline-block;
}

.fullscreen {
	background-position: -140px 0px;
	position: absolute;
	right: 10px; bottom: 10px;

	opacity: 0.3;
	cursor: pointer;
	display: none;
}

.shader td:first-child:hover .fullscreen { display: inline-block; }

.diagram-controls {
	position: absolute;
	bottom: 5px; left: 10px;
}

	.diagram-controls span {
		float: left;
		margin-right: 10px;
		cursor: pointer;

		background-size: 256px 32px;

		width: 32px;
		height: 32px;
	}

	span[data-type=wave] { background-position: -128px 0px; }
	span[data-type=spectrum] { background-position: -160px 0px; }
	span[data-type=spectrogram] { background-position: -192px 0px; }

.controls {
	height: 10%;
	padding: 10px;
	box-sizing: border-box;
	background-color: #222;
	border-radius: 0px 0px 5px 5px;
}

	.controls .icon {
		float: left;
		cursor: pointer;
		margin-top: 4px;
		margin-right: 5px;
	}

	.icon.disabled { opacity: 0.5; }
	.play-pause { background-position: 0px 0px; }
	.reset { background-position: -40px 0px; }

	.mic {
		background-position: -60px 0px;
		float: right !important;
		margin-right: 10px !important;
	}

	.run {
		color: #CCC;
		text-shadow: 0px -1px #000;
		
		padding: 5px 10px;
		border: 2px solid #000;
		border-radius: 3px;

		background-color: #666;
		box-sizing: border-box;
		display: inline-block;
		cursor: pointer;
		float: right;
	}

	.run:hover {
		color: #DDD;
		background-color: #777;
	}

	.time, .fps {
		color: #999;
		font-weight: bold;
		margin-top: 8px;
		margin-left: 8px;
		display: inline-block;
	}

	.fps { margin-left: 15px; }

	#shader-editor.disabled, #dsp-editor.disabled {
		-webkit-filter: saturate(0) contrast(0.8);
		filter: saturate(0) contrast(0.8);
	}

	.ace_scrollbar-v::-webkit-scrollbar, .ace_scrollbar-h::-webkit-scrollbar { width: 12px; background: #333; }
	.ace_scrollbar-v::-webkit-scrollbar-thumb, .ace_scrollbar-h::-webkit-scrollbar-thumb { width: 6px; background: #666; }



#gain {
	-webkit-appearance: none;  
    width: 100px;  
    height: 10px;  
    border: 0px;
    background-color: #666;
    margin-left: 10px;
} 

#gain::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #999;
	border: 0px;
	width: 10px;
	height: 20px;
	cursor: pointer;
}